################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/JarusTech/config
/.vs/JarusTech
/JarusTech.API/.config
/JarusTech.API/bin
/JarusTech.API/obj
/JarusTech.API/Properties
